:root {
  --primary: #424242;
  --primary-light: #6d6d6d;
  --primary-dark: #1b1b1b;
  --secondary: #aa00ff;
  --secondary-light: #e254ff;
  --secondary-dark: #7200ca;
  --light: #fff;
  --dark: #212121;
}
