.button {
  width: 400px;
  padding: 10px;
  background-color: var(--s);
  border: none;
  outline: 3px solid var(--p-light);
  border-radius: 2px;
  color: var(--light);
  cursor: pointer;

  &:hover {
    outline: 3px solid var(--p-lightner);
    background-color: var(--s-light);
  }

  &:active {
    outline: 3px solid var(--p);
    background-color: var(--s-dark);
  }
}
