header {
    padding: 20px 0;
    background-color: var(--primary);

    .container {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        gap: 30px;
        color: var(--light);
    }

    .nav-link {
        font-size: 18px;
        text-transform: uppercase;
        transition: 0.2s;

        &.active {
            text-decoration: underline;
            color: var(--secondary-light);
        }

        &:hover {
            text-shadow: 0px 0px 20px var(--secondary-light);
        }
    }

    .link {
        font-size: 18px;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
            text-shadow: 0px 0px 20px var(--secondary-light);
        }

        &:active {
            text-decoration: underline;
            color: var(--secondary-light);
        }
    }
}