.card {
    padding: 16px;

    img {
        height: 270px;
        object-fit: contain;
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        word-wrap: break-word;
        width: 100%;
        margin-top: 16px;
    }
}